@charset "utf-8";
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  color: #000;
  letter-spacing: -0.64px;
  word-break: keep-all;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  width: 1280px;
  width: 128rem;
  margin: 0 auto;
}
/* float 해제 */
.clearfix::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  clear: both;
}

/* swiper 버튼 */
.sw-bt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}
.sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 99;
  transform: translate(50%, -50%);
}
.sw-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-bt::before {
  display: block;
  position: absolute;
  /* 중간 배치하려면 left는 너비의 반을 calc로 뺀거고 top은 높이의 반을 calc로 뺀거 */
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 16px;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
.sw-prev::before {
  transform: scaleX(-100%);
}

/* section 내용 구조 */
.section-top {
  text-align: center;
}
.section-top > h2 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-top > p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.section-top .btns {
  margin: 25px 0;
  /* inline-block 은 html 코드의 Enter 도 글자로 인식 */
  /* 그래서 공백글자가 들어간다. */
  font-size: 0;
}
.section-top .btns a {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  line-height: 42px;
  font-size: 14px;
  color: #111;
  background: #fff;
  margin-right: 6px;
}
.btns-active {
  background: #111 !important;
  color: #fff !important;
}

.section-slide {
  position: relative;
  margin-bottom: 20px;
}
.section-bottom {
  text-align: center;
}
.bt-link-shop {
  /* bolck을 이면width를 주고 , margin: 0 auto줘야해서 복잡해짐 */
  /* inline-block이므로 글자처럼 text-align: center */
  /* inline은 글자로 취급 */
  display: inline-block;
  font-size: 16px;
  line-height: 56px;
  padding: 0 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* 56/2 */
  border-radius: 28px;
  color: #333;
  font-weight: 700;
}
.bt-link-shop::after {
  /* 아이콘이 밑으로 가는거를 옆으로 올려줌 */
  display: inline-block;
  position: relative;
  content: "";
  /* 아이콘기준 */
  margin-left: 3px;
  width: 7px;
  height: 11px;
  background: url("../images/icon_linkArrow.svg") no-repeat center;
}
/*플라잉 배너 */
.fix-banner {
  /* 반응형 */
  position: fixed;
  right: 20px;
  bottom: 20px;
  /* z-index */
  z-index: 9999;
  bottom: 20px;
  text-align: center;
}
.fix-banner a {
  display: block;
}

.gotop {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background: #fff url(../images/btn_topArrow.svg) no-repeat center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.16);
  font-size: 0px;
  margin-top: 10px;
}
/* 기본레이아웃 */
.wrap {
}
/* 상단 */
.header {
  z-index: 999999;
  /* border-bottom: 1px solid #ebebeb; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .inner {
  padding-top: 30px;
  height: 160px;
}
.header-up {
}

.header-left {
  position: relative;
  /* 자식들이 모두.. absoluter 라서. */
  /*  width, height 준다 */
  width: calc(118px + 455px + 20px);
  height: 50px;

  float: left;
}

.logo {
  /* a 태그는 inline 이므로 width, height 안됨 */
  /* a 태그는 inline 이므로 maring, padding 일부 안됨 */
  /* a 태그는 inline 이므로 최소 inline-block 으로 */
  display: inline;
  display: inline-block;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
}
.search {
  position: absolute;
  top: 0;
  right: 0;

  width: 455px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 15px;
}
.search-text {
  width: calc(100% - 25px);
  height: 50px;
  border: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
}
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 700;
}
.search-bt {
  border: 0;
  width: 17px;
  height: 17px;
  background: url("../images/btn_search.svg") no-repeat center;
  cursor: pointer;
  /* 조건 : inline 또는 inline-block */
  vertical-align: -3px;
}
.search-reset {
  position: absolute;
  top: calc(50% - 8px);
  right: 50px;
  border: 0;
  font-size: 0;
  cursor: pointer;

  width: 16px;
  height: 16px;
  background: url("../images/btn_searchDelete.svg") no-repeat center;
}

.header-right {
  float: right;
}
.member-list {
  margin-top: 17px;
  /* padding-top: 17px; */
  /* line-height: 50px; */
}
.member-list > li {
  position: relative;
  float: left;
  margin-right: 20px;
}
.member-list > li:last-child {
  margin-right: 0;
}

.member-list > li > a {
  font-size: 15px;
  color: #111;
  font-weight: 500;
}
.icon-arrow::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 5px;
  background: url("../images/arrow_pc.svg") no-repeat center;
  vertical-align: 3px;
  margin-left: 5px;
}
.mypage-bt:hover .mypage {
  display: block;
}

.mypage {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  background: #fff;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.mypage-list {
}
.mypage-list li {
  margin: 10px 0;
}
.member-list li:first-child {
  margin-top: 0;
}
.member-list li:last-child {
  margin-bottom: 0;
}

.mypage-list li a {
  /* 글자 줄내림 없다. */
  /* inline 은 한줄로 배치 */
  white-space: nowrap;
  font-size: 14px;
}
.mypage-list li a b {
  font-weight: 500;
}

.header-down {
}

.service-list {
  display: block;
  float: left;
  margin-top: 30px;
}
.service-list li {
  float: left;
  padding-right: 23px;
}
.service-list li:last-child {
  padding-right: 0;
  margin-right: 15px;
}

.service-list li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
}
.service-list li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.service-menu {
  display: block;
  float: left;
  margin-top: 30px;
}
.service-menu li {
  float: left;
}
.service-menu li a {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
  padding: 0 12px;
}
.service-menu li a::before {
  display: block;
  position: absolute;
  top: calc(50% - 16px / 2);
  left: 0;
  content: "";
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
}

/* 추천이벤트 */
.promotion {
  padding-top: 30px;
  padding-bottom: 90px;
}

.promotion .inner {
  height: 345px;
}
.promotion-slide {
  height: 100%;
}
.sw-promotion a {
  display: inline-block;
  border-radius: 13px;
  overflow: hidden;
}
.sw-promotion a img {
  width: 100%;
  height: auto;
}

/* 쇼핑추천 */
.shopping {
  padding-top: 30px;
  padding-bottom: 90px;
}
.shopping .section-slide {
  height: 405px;
}

.sw-shopping {
  height: 100%;
}

.good {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  text-align: center;
  overflow: hidden;
}
.good > img {
  width: 100%;
  /* 배경색이 mix blend 되므로 색상이 섞인다. */
  /* multiply는 흰색을 투명하게 한다.*/
  /* 자주 사용 X */
  /* 포토샵처럼 이미지 블랜드 가능 */
  mix-blend-mode: multiply;
}
.good-info {
  background: #fff;
  text-align: left;
  padding: 20px;
}
.good-info-list {
}
.good-info-list li {
}
.good-info-list li b {
  font-size: 20px;
  line-height: 24px;
  color: #111;
  font-weight: 700;
}
.good-info-list li b span {
  color: #ef3e43;
}
.good-info-list li p {
  /* 3.display:-webkit-box */
  display: -webkit-box;
  /* 두줄기준 넘치면 ... */
  /*line-height  가 기준이고 하나일18px이라 2줄일때 36px */
  font-size: 15px;
  line-height: 18px;
  color: #111;
  margin-top: 10px;

  /* 내용이 한줄일수도있고 최대2줄이다. */
  /* 높이값을 지정해서 레이아웃을 지킨다. */
  /* 내용이 넘치는 경우 ...처리 */
  /* 카페에 적어준 . 2줄 말줄임 */
  /* 1.높이가 있어야한다. */
  height: 36px;
  /* 2.넘치는 영역을 가린다. */
  overflow: hidden;
  /* 4. text-overflow: ellipsis */
  text-overflow: ellipsis;
  /* 5.아래 코드를 입력한다. */
  /* 2면 2줄 */
  /* 3줄이면3 height 18*3하면 됨 */
  /* 이거 귀찮으면 백엔드한테 ...처리해달라하면 됨 */
  /* 모르겠으면 구글에 ...처리하기 라고 검색 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 투어특가 */
.tour {
  padding-top: 30px;
  padding-bottom: 90px;
}

.tour .section-slide {
  height: 355px;
}

.sw-tour {
  height: 100%;
}

.tour-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tour-img {
  position: relative;
  width: 100%;
  height: 245px;
  /* 이미지가 너무 크면 글자가리니까 */
  /* 중앙이 안맞음 */
  overflow: hidden;
}
.tour-img img {
  /* 위의 .tour-img따라감 */
  /* 부모요소가 따라가니까relative */
  position: absolute;
  top: 50%;

  left: 50%;
  /* 좌표,영역말고 내용 즉, 보이는 부분만 이동*/
  /* 하나씩 하면 먹힘 */
  /* 앱솔루트를 이용한 내용 중앙정렬 */
  transform: translate(-50%, -50%);

  width: 100%;
}
.tour-info {
  padding: 20px;
  /* 선택사항 */
  background: #fff;
}

.tour-info-list {
}
.tour-info-list li {
  /*둘러싸고 있는게 이거  */
  /* 모를때는 relative */
  position: relative;
  /* 파란글씨와 검은 글씨사이가 가까운것같아서 인위적으로 띄어줌 */
  margin-bottom: 3px;
}

.tour-cate {
  /* span이 inline임 inline-block이나 block을 써보자 뭔가 잘 안맞을때 */
  /* 중요 block보다 inline-block을썼다 글자 써진 만큼만 잡힘 */
  /* block은 너비가 100임 */
  display: inline-block;
  /* 위로 올리는거  absolute나  margin:top */
  position: absolute;
  /* 겹쳤을때 제대로 된거고 손가락 신공 */
  top: -39px;
  left: 0;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  font-weight: 700;
  background: #4a95ff;
  padding: 0 10px;
  border-radius: 3px;
}
.tour-title {
  /* span 때문에 */
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #4a95ff;
  /* 1줄 말줄임 표현 */
  /* 아니면 백엔드 말줄여서 주삼*/
  /* 외우거나 이해하는 거 아니고 복사해서 쓰기 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tour-place {
}

.tour-price {
  color: #111;

  font-size: 16px;
  line-height: 24px;
}
.tour-price b {
  font-weight: 700;
  font-size: 20px;
}
/* 티켓랭킹 */
.ticket {
  padding-top: 30px;
  padding-bottom: 90px;
}
.ticket .section-slide {
  height: 540px;
}
.ticket .section-slide .sw-bt {
  top: 35%;
}
.sw-ticket {
  /* 위에 사이즈변하면 자동으로변하라고 */
  height: 100%;
}
.ticket-link {
  display: block;
  width: 100%;
  height: 100%;
  /*헷갈릴수있어서 뺀다  */
  /* overflow: hidden; */
}
.ticket-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.ticket-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.ticket-rank {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.ticket-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    linear-gradient(180deg, transparent 68.5%, rgba(0, 0, 0, 0.6));
}

.ticket-info {
  padding: 20px 10px;
  background: #fff;
}
.ticket-info-list {
}

.ticket-info-list li {
  margin-bottom: 5px;
}
.ticket-info-list li:first-child {
  margin-bottom: 0px;
}
.ticket-title {
  /* 2줄처리 */
  display: -webkit-box;
  color: #111;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ticket-hall {
  display: block;
  color: #666;
  font-size: 15px;
  /*  안먹힘 디스플레인 블락 이고 스팬이라서 */
  line-height: 18px;
  /* 1줄 ...처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ticket-date {
  display: block;
  color: #999;
  font-size: 14px;
  line-height: 17px;
}
.ticket-sale {
  display: inline-block;
  line-height: 24px;
  font-size: 11px;
  padding: 0 8px;
  color: #ef3e43;
  border: 1px solid rgba(239, 62, 67, 0.3);
  border-radius: 3px;
}
/* 인터파크 라이브 */
.live {
  padding-top: 30px;
  padding-bottom: 90px;
}
.live .section-top {
  margin-bottom: 25px;
}
.live .section-slide {
  height: 455px;
}
.sw-live {
  height: 100%;
}
.live-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.live-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: pink;
}
.live-img img {
  /* 이미지 너비 높이 상관없이 가운데 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.live-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.live-info-top {
}
.live-info-cate {
  /* span은 너비 높이 못주고 글자만큼 영역 잡힘 */
  /* 글자만큼 잡아줘야함 */
  display: inline-block;
  line-height: 32px;
  font-size: 13px;
  /* line-height의 반   높이의 반*/
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 12px;
  margin-bottom: 10px;
}
.live-info-title {
  display: -webkit-box;
  font-size: 20px;
  line-height: 24px;
  /* 두줄 말줄임 출력 24*2=48 */
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* 여까지 */
  font-weight: 700;
  color: #fff;
}

.live-info-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.live-info-date {
  color: #fff;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 5px;
}
.live-info-time {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
.live-info-bottom {
  /* 부모요소에도 position해줘야함 */
  /* 밑으로내려줌 */
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.live-info-thumb {
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  overflow: hidden;
  background: pink;
}
.live-info-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.live-info-desc {
  float: right;
  width: calc(100% - 65px - 10px);
}

.live-info-desc-title {
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  /* 한줄 말 줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  /* 줄내림 하지마 */
  white-space: nowrap;
  margin-top: 10px;
}
.live-info-desc-price {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}
.live-info-desc-price em {
  color: #ef3e43;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.live-info-desc-price b {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* 오늘의 도서 */
.books {
  padding-top: 30px;
  padding-bottom: 90px;
}

.books .section-slide {
  height: 400px;
}

.sw-books {
  height: 100%;
}
.books-link {
  /* a태그니까 */
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.books-img {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 335px;
  overflow: hidden;
}
.books-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.books-info {
  text-align: center;
}
.books-info-title {
  font-size: 15px;
  line-height: 18px;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}
.books-info-price {
  font-size: 16px;
}
.books-info-price em {
  font-size: 20px;
  font-weight: 700;
  /* 기울어짐 방지 */
  font-style: normal;
}
/* 이벤트 */
.event {
  padding-top: 30px;
  padding-bottom: 90px;
}
.event .section-top {
  margin-bottom: 20px;
}
.event .section-slide {
  height: 350px;
}
.sw-events {
  height: 100%;
}
.events-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #f7f7f7;
}
.events-link img {
  position: absolute;
  top: 50%;

  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}
/* 하단 */
.footer {
}

.footer-menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.footer-menu .inner {
}
.footer-menu-list {
  display: flex;
  justify-content: space-between;
}
.footer-menu-list > li {
  position: relative;
}
.footer-menu-list > li::after {
  position: absolute;
  top: 2px;
  right: -36px;
  content: "";
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.3);
}
.footer-menu-list > li:last-child::after {
  content: none;
}

.footer-menu-list > li > a {
  font-size: 13px;
  line-height: 16px;
  color: #333;
  white-space: nowrap;
}
.footer-menu-list > li > a > strong {
  font-weight: 700;
}
.footer-menu-list > li > a > i::before {
  /* bolck 하면 안됨 */
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 6px;
  background: url(/images/icon_arrow.svg) no-repeat center;
  margin-left: 4px;
  /* 마음에 안들면 */
  vertical-align: 2px;
}

.footer-menu-list > li:hover .more-list {
  display: block;
}
.more-list {
  display: none;
  position: absolute;
  top: 20px;
  right: 0px;
  /* 너비지정 x */
  padding: 17px;
  background: #fff;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.more-list li {
  margin-bottom: 16px;
}
.more-list li:last-child {
  margin-bottom: 0;
}
.more-list li a {
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}

.footer-main {
  padding-top: 30px;
  padding-bottom: 55px;
}
.footer-main-left {
  float: left;
  width: 50%;
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-main-right {
  float: right;
  width: 50%;
  padding-left: 30px;
}
.company-name {
  float: left;
  font-size: 15px;
  font-weight: 700;
  color: #111;
  margin-right: 10px;
}
.company-info {
  float: left;
  width: 80%;
}

.company-info li {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  margin-bottom: 15px;
}

.company-info li:last-child {
  margin-bottom: 0px;
}
.company-info li span {
}
.company-info li span.f-line::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 1px;
  height: 10px;
  background: #b2b2b2;
  vertical-align: -1px;
  margin: 0 3px;
}

.company-info li a {
  color: #666;
}
.company-info li a.line {
  color: #4a95ff;
  text-decoration: underline;
}
.company-info li b {
  color: #111;
  font-weight: 700;
}
.company-info li p {
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
/* caniuse.com 을 통해 확인한다.*/
.copy {
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
